# Ignorar node_modules
node_modules/

# Ignorar arquivos de log
*.log

# Ignorar arquivos do sistema
.DS_Store
Thumbs.db

# Ignorar arquivos desnecessários para o repositório
public/js/*.map
public/css/*.map
